---
title: コラボから生まれるここだけの宝物 TAO
description: コラボから生まれるここだけの宝物 TAO
og_image: makers/image_ogp.png
---
<header class='header'>
  <div class='container'>
    <div class='has-text-centered'>
      <h1 class='site-logo'>
        TAO
      </h1>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                                 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-101324436-2', 'auto');
        ga('send', 'pageview');
      </script>
    </div>
  </div>
</header>

<section class='section'>
  <div class='container has-text-right has-social-buttons'>
    <div class='social-button'>
      <div class="fb-like" data-href="<%= data.site.url %><%= current_page.url %>" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
    </div>
    <div class='social-button'>
      <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="taoservice">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
  </div>
  <div class='container has-text-centered'>
    <%= image_tag 'makers/sp_01.png', alt: 'コラボから生まれるここだけの宝物 TAO'%><br />
    <%= image_tag 'makers/sp_02.png', alt: 'コラボから生まれるここだけの宝物 TAO'%><br />
    <%= image_tag 'makers/sp_03.png', alt: 'コラボから生まれるここだけの宝物 TAO'%><br />
    <%= image_tag 'makers/sp_04.png', alt: 'コラボから生まれるここだけの宝物 TAO'%><br />
    <%= image_tag 'makers/sp_05.png', alt: 'コラボから生まれるここだけの宝物 TAO'%><br />
    <div style="position: relative;">
    <%= image_tag 'makers/sp_06.png', alt: 'コラボから生まれるここだけの宝物 TAO'%><br />
     <div style="position: absolute; top: 60%; bottom: 0; left: 0; right: 0; margin: auto; width: 80%;">
        <a href="https://www.facebook.com/taojapan/"><img src="../images/makers/sp_button_facebook.png" alt="facebook" /></a>
     </div>
     <div style="position: absolute; top: 80%; bottom: 0; left: 0; right: 0; margin: auto; width: 80%;">
        <a href="mailto:taojapan.m@gmail.com?subject=お問い合わせ"><img src="../images/makers/sp_button_inquiry.png" alt="お問い合わせ" /></a>
     </div>
  </div>
  </div>
</section>

<footer class='footer'>
  <div class='container'>
    <div class='has-text-centered'>
      © 2017 TAO
    </div>
  </div>
</footer>
