---
title: PLEST 清水 信太郎 - TAO
description: 独学で身に付けた技術と独創的な世界観が使い手の日常をワクワクさせる。シンプルな中に作り手のアイデアが込もっている革製品、シルバージュエリー。
og_image: makers/PLEST/image_ogp.png
---
<header class='header'>
  <div class='container'>
    <div class='has-text-centered'>
      <h1 class='site-logo'>
        TAO
      </h1>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                                 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-101324436-2', 'auto');
        ga('send', 'pageview');
      </script>
    </div>
  </div>
</header>

<section class='section'>
  <div class='container has-text-right has-social-buttons'>
    <div class='social-button'>
      <div class="fb-like" data-href="<%= data.site.url %><%= current_page.url %>" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
    </div>
    <div class='social-button'>
      <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="taoservice">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
  </div>
  <div class='container has-text-centered'>
    <%= image_tag 'makers/PLEST/image_main.png', alt: '独学で身に付けた技術と独創的な世界観が使い手の日常をワクワクさせる。シンプルな中に作り手のアイデアが込もっている革製品、シルバージュエリー。'%>
  </div>
</section>

<section class='section'>
  <div class='container container-brand-detail'>
    <h2 class='title-brand-name has-text-centered'>
      PLEST
    </h2>
    <p class='content-brand-text content'>
      それぞれの物、事が本来に持つ性質と向き合う。時の文化や人の生活から生まれるシーンを切り取ってデザインをする事で、根拠のあるもの作りが生まれます。売り手、使い手の方々にとってその物がなぜ 良いのか、何がかっこいいのか、と言う意識を持って物や事と向き合ってほしいのです。だからこそ伝える為のメッセージや意識を物に込めています。
    </p>
  </div>
</section>

<section class='section'>
  <div class='container'>
    <div class='columns is-gapless'>
      <div class='column is-one-quarter'>
        <figure class='image'>
          <%= image_tag 'makers/PLEST/image_creator.png' %>
        </figure>
      </div>
      <div class='column column-creator-detail'>
        <div class='container-creator-detail'>
          <h2 class='title is-5'>
            作り手・清水 信太郎
          </h2>
          <p class='content is-small'>
            一つの技法や知識を多様化する事が得意です。<br>
            例えば、製靴の技法から生まれる美をバックなど、靴ではない分野へのデザインに放り込む。<br>
            作りたい物の為に技術を作る事が得意です。
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class='section'>
  <div class='container'>
    <h3 class='title is-4'>
      PLESTの技術・作品
    </h3>
    <p class='content'>
      革製品をメインに、シルバージュエリー。ファッションに通じる新しいものづくりを目指します。
    </p>
    <div class='columns is-small'>
      <div class='column'>
        <figure class='image'>
          <%= image_tag 'makers/PLEST/image_works01.png' %>
          <figcaption class='image-caption is-small'>
            靴の技法からインスピレーションを得て技法を作る。
          </figcaption>
        </figure>
      </div>
      <div class='column'>
        <figure class='image is-square'>
          <%= image_tag 'makers/PLEST/image_works02.png' %>
        </figure>
      </div>
    </div>
    <div class='columns'>
      <div class='column'>
        <figure class='image'>
          <%= image_tag 'makers/PLEST/image_works03.png' %>
          <figcaption class='image-caption is-small'>
            柄を彫刻。牛革を蛇の革のように使う。<br>
            一つの素材に技術によって多様性を生み出す。
          </figcaption>
        </figure>
      </div>
      <div class='column'>
        <figure class='image'>
          <%= image_tag 'makers/PLEST/image_works04.png' %>
          <figcaption class='image-caption is-small'>
            革の質感によって出せない色もある。混色等のシビアな革染色の世界。
          </figcaption>
        </figure>
      </div>
    </div>
    <div class='columns'>
      <div class='column'>
        <figure class='image'>
          <%= image_tag 'makers/PLEST/image_works05.png' %>
          <figcaption class='image-caption is-small'>
            仕事道具にある使い手のこだわりや動きを想像したり、理解することで日々の生活にある視野を広げる。
          </figcaption>
         </figure>
      </div>
      <div class='column'>
        <figure class='image'>
          <%= image_tag 'makers/PLEST/image_works06.png' %>
          <figcaption class='image-caption is-small'>
            金工技術を活かして、細部までこだわりを。
          </figcaption>
        </figure>
      </div>
    </div>
    <div class='columns'>
      <div class='column'>
        <figure class='image'>
          <%= image_tag 'makers/PLEST/image_works07.png' %>
          <figcaption class='image-caption is-small'>
            新宿に有る shop 兼工房。こちらで展示会や交流会も開催します。
          </figcaption>
        </figure>
      </div>
      <div class='column'>
        <figure class='image'>
          <%= image_tag 'makers/PLEST/image_works08.png' %>
        </figure>
      </div>
    </div>
  </div>
</section>

<section class='section'>
  <div class='container'>
    <h3 class='title is-4'>
      今後チャレンジしたいこと
    </h3>
    <p class='content'>
      新しく試したい事はもの作りをしたい未経験の人を育てる事。<br>
      育てると言うか成長し合うと言うか。<br>
      自分とは違う文化を持つ人と、もの作りを通じて向き合うことでどんなものが生まれるのかを試したい。<br>
      自分一人では全てをする事はできない。<br>
      技術を作り出せる人と共に仕事をする環境を探しています。<br>
    </p>
  </div>
</section>

<section class='section'>
  <div class='container'>
    <div class='container container-collaboration'>
      <h4 class='title is-6 is-bold'>
        こんな人とコラボレーションしてみたい
      </h4>
      <ul class='list'>
        <li>
          コンセプト共感し、何か一緒にやってみたいと感じてくれた方
        </li>
        <li>
          革、ジュエリー、シルバーなどの商品をオーダーしたい方
        </li>
        <li>
          同業者で意見交換したい方
        </li>
        <li>
          こういうもの作れますか？というご提案のある方
        </li>
      </ul>
      <p class='content'>
        などなど、お気軽にご連絡ください☆
      </p>
      <div class='has-text-centered'>
        <a class='button is-outlined is-primary is-large-button' href='https://goo.gl/forms/0plOfMItUpmj9yTC2'>
          話を聞いてみる
        </a>
      </div>
    </div>
  </div>
</section>

<section class='section'>
  <div class='container'>
    <div class='title is-5 has-text-centered'>
      INFORMATION
    </div>
    <div class='columns is-gaplese is-multiline is-mobile columns-information'>
      <div class='column is-4 has-information-border'>
        作り手・ブランド名
      </div>
      <div class='column is-8 has-information-border'>
        清水 信太郎 ／ PLEST
      </div>
      <div class='column is-4 has-information-border'>
        所在地
      </div>
      <div class='column is-8 has-information-border'>
        東京都新宿区新宿 1-30-4-202
      </div>
      <div class='column is-4 has-information-border'>
        ホームページ
      </div>
      <div class='column is-8 has-information-border'>
        <a href="https://plest-shop.jimdo.com">https://plest-shop.jimdo.com</a>
      </div>
      <div class='column is-4 has-information-border has-information-border-bottom'>
        お知らせ
      </div>
      <div class='column is-8 has-information-border has-information-border-bottom'>
        イベント参加情報などをお知らせします。
      </div>
      <div class='column is-4 has-information-border has-information-border-bottom'>
        このページのQRコード
      </div>
      <div class='column is-8 has-information-border has-information-border-bottom'>
        <a href='images/makers/PLEST/image_url_qrcode.png'>
          <%= image_tag 'makers/PLEST/image_url_qrcode.png' %>
        </a>
      </div>
    </div>
  </div>
</section>

<footer class='footer'>
  <div class='container'>
    <div class='has-text-centered'>
      © 2017 TAO
    </div>
  </div>
</footer>
