<header>
  <h1>TAO</h1>
</header>

<div>
  <div>
    独学で身に付けた技術と独創的な世界観が使い手の日常をワクワクさせる。<br>
    シンプルな中に作り手のアイデアが込もっている革製品、シルバージュエリー。
  </div>
</div>

<div>
  <div>
    PLEST
  </div>
  <div>
    それぞれの物、事が本来に持つ性質と向き合う。時の文化や人の生活から生まれるシーンを切り取って デザインをする事で、根拠のあるもの作りが生まれます。売り手、使い手の方々にとってその物がなぜ 良いのか、何がかっこいいのか、と言う意識を持って物や事と向き合ってほしいのです。だからこそ伝 える為のメッセージや意識を物に込めています。
  </div>
</div>

<div>
  <div>
    作り手・清水 信太郎
  </div>
  <div>
    一つの技法や知識を多様化する事が得意です。 例えば、製靴の技法から生まれる美をバックなど、靴ではない分野へのデザインに放り 込む。作りたい物の為に技術を作る事が得意です。
  </div>
</div>

<div>
  <div>
    PLESTの技術・作品
  </div>
  <div>
    革製品をメインに、シルバージュエリー。ファッションに通じる新しいものづくりを目指します。
  </div>
  <div>
    <div>
      <%= image_tag 'image_works01.png' %>
      靴の技法からインスピレーションを得て技法を作る。
    </div>
    <div>
      <%= image_tag 'image_works02.png' %>
    </div>
  </div>
  <div>
    <div>
      <%= image_tag 'image_works03.png' %>
      柄を彫刻。牛革を蛇の革のように使う。<br>
      一つの素材に技術によって多様性を生み出す。
    </div>
    <div>
      <%= image_tag 'image_works04.png' %>
      革の質感によって出せない色もある。混色等のシビアな革染色の世界。
    </div>
  </div>
  <div>
    <div>
      <%= image_tag 'image_works05.png' %>
      仕事道具にある使い手のこだわりや動きを想像したり、理解することで日々の生活にある視野を広げる。
    </div>
    <div>
      <%= image_tag 'image_works06.png' %>
      金工技術を活かして、細部までこだわりを。
    </div>
  </div>
  <div>
    <div>
      <%= image_tag 'image_works07.png' %>
      新宿に有る shop 兼工房。こちらで展示会や交流会も開催します。
    </div>
    <div>
      <%= image_tag 'image_works08.png' %>
    </div>
  </div>
</div>

<div>
  <div>
    今後チャレンジしたいこと
  </div>
  <div>
    新しく試したい事はもの作りをしたい未経験の人を育てる事。
    育てると言うか成長し合うと言うか。
    自分とは違う文化を持つ人と、もの作りを通じて向き合うことでどんなものが生まれるのかを試したい。
    自分一人では全てをする事はできない。
    技術を作り出せる人と共に仕事をする環境を探しています。
  </div>
</div>

<div>
  <div>
    コラボレーション
  </div>
  <div>
    <div>
      こんな人とコラボレーションしてみたい
    </div>
    <div>
      <ul>
        <li>
          コンセプト共感し、何か一緒にやってみたいと感じてくれた方
        </li>
        <li>
          革、ジュエリー、シルバーなどの商品をオーダーしたい方
        </li>
        <li>
          同業者で意見交換したい方
        </li>
        <li>
          こういうもの作れますか？というご提案のある方
        </li>
      </ul>
      などなど、お気軽にご連絡ください☆
    </div>
    <div>
      <a>話を聞いてみる<a>
    </div>
  </div>
</div>

<div>
  <div>
    INFORMATION
  </div>
  <dl>
    <dt>
      作り手・ブランド名
    </dt>
    <dd>
      清水 信太郎 ／ PLEST
    </dd>
    <dt>
      所在地
    </dt>
    <dd>
      東京都新宿区新宿 1-30-4-202
    </dd>
    <dt>
      ホームページ
    </dt>
    <dd>
      <a href="https://plest-shop.jimdo.com">https://plest-shop.jimdo.com</a>
    </dd>
    <dt>
      お知らせ
    </dt>
    <dd>
      伝統工芸品店＠浅草に参加します。(2017年2月23日)</br>
      手作り市＠池袋に参加します。(2017年3月11日)
    </dd>
  </dl>
</div>

<footer>
  © 2017 TAO
</footer>
